:root{
    --blue-theme: rgb(0, 255, 255);
    --blue-theme-faded: rgb(0, 255, 255, 0.5);
    --blue-theme-modal-shadow: 0 0 15px rgba(31, 255, 255, 0.808);
    --gradient-theme: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 70, 80));
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 70, 80));
}

header{
    color: var(--blue-theme);
    font-size: 2.6rem;
    text-align: center;
}

                                


#overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




#modal1{
    display: flex;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
    gap: 100px;
}

#modal1 div{
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal1 div h2{
    text-align: center;
    font-size: 36px;
}

#modal1 div button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#modal1 div button:hover{
    transform: scale(1.1);
}

#modal1 div img{
    width: 200px;
    border-radius: 50%;
}



/* modal2 will be displayed as "none" by default, and switched to "flex" when modal1 PvPBtn is pressed */
#modal2{
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
}

#modal2 div{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin: 20px;
}

#modal2 input,
#modal3 input{
    padding: 10px 5px;
    font-size: 1.4rem;
    text-align: center;
}

#modal2 div p,
#modal2 div label{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
}

.playBtn{
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 10px;
}

.playBtn:hover{
    transform: scale(1.1);
}





/* modal3 will be displayed as "none" by default, and switched to "flex" when modal1 PvEBtn is pressed */
#modal3{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 550px;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
    padding: 20px;
}

#modal3 label{
    font-size: 2.4rem;
    font-weight: 800;
}






main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#turnText{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

#errorText{
    color: red;
    text-shadow: red 2px 2px 15px;
    font-size: 1.4rem;
    min-height: 2em;
    font-weight: 800;
    text-align: center;
}

.neutralGameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.tieGameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.877);
}

.winningGameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 15px rgba(51, 255, 0, 0.877);
}

#gameboard button{
    background-color: transparent;
    width: 200px;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--blue-theme);
    font-weight: 900;
    font-size: 7rem;
}

#gameboard button:hover{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.158), var(--blue-theme-faded));
}

#scores{
    display: flex;
    gap: 150px;
}

#scores p{
    color: #fff;
    font-size: 1.8rem;
    min-height: 2em;
    font-weight: 800;
}

#resetBoard{
    background-color: transparent;
    color: var(--blue-theme);
    font-weight: 800;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 10px;
}

#resetBoard:hover{
    background-color: var(--blue-theme-faded);
}

#resetBoard:active{
    background-color: var(--blue-theme);
    color: var(--gradient-theme);
}



footer{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--blue-theme);
    font-weight: bolder;
}

footer a{
    color: var(--blue-theme);
}

footer a:hover{
    transform: scale(1.4);
}