:root{
    --blue-theme: rgb(0, 255, 255);
    --blue-theme-faded: rgb(0, 255, 255, 0.5);
    --blue-theme-modal-shadow: 0 0 15px rgba(31, 255, 255, 0.808);
    --gradient-theme: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 70, 80));
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 70, 80));
}

header{
    color: var(--blue-theme);
    font-size: 2.6rem;
    text-align: center;
}

                                

/* Overlay will be display:flex, then hidden after either modal2 OR modal3 are completed.*/
/* Overlay will reappear as display:flex when checkWinner() returns true and the game ends with modal4 */
#overlay{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




/* Modal1 will be display:flex by default, and be switched to "none" when an option is selected */
#modal1{
    /* display: none; */
    display: flex;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
    gap: 100px;
}

#modal1 div{
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal1 div h2{
    text-align: center;
    font-size: 36px;
}

#modal1 div button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#modal1 div button:hover{
    transform: scale(1.1);
}

#modal1 div img{
    width: 200px;
    border-radius: 50%;
}



/* modal2 will be displayed as "none" by default, and switched to "flex" when modal1 PvPBtn is pressed */
#modal2{
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
}

#modal2 div{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

/* #modal2 label{
 
} */

#modal2 input,
#modal3 input[type="text"]{
    padding: 10px 5px;
    font-size: 1.4rem;
    text-align: center;
}

#modal2 div p,
#modal2 div label{
    text-align: center;
}

.playBtn{
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 10px;
}

.playBtn:hover{
    transform: scale(1.1);
}





/* modal3 will be displayed as "none" by default, and switched to "flex" when modal1 PvEBtn is pressed */
#modal3{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
    padding: 20px;
}

#radioBtns{
    display: flex;
    gaP: 1.5rem;
    justify-content: center;
    align-items: center;
}

#radioBtns label{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#radioBtns input[type="radio"] {
    margin: 0;
}




/* modal4 will be displayed as "none" by default and switch to "flex" when checkWinner() returns "true" */
#modal4{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background-color: var(--blue-theme-faded);
    box-shadow: var(--blue-theme-modal-shadow);
}

#playAgainBtn{
    justify-self: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 10px;
}






main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 40px;
}

#turnText{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

#errorText{
    color: red;
    text-shadow: red 2px 2px 8px;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

#gameboard button{
    /* border: 2px solid white; */
    background-color: transparent;
    width: 200px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

#gameboard button:hover{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.158), var(--blue-theme-faded));
}

#scores{
    display: flex;
    gap: 100px;
}

#scores p{
    color: #fff;
}

#resetBoard{
    background-color: transparent;
    color: var(--blue-theme);
    font-weight: 800;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 10px;
}

#resetBoard:hover{
    background-color: var(--blue-theme-faded);
}

#resetBoard:active{
    background-color: var(--blue-theme);
    color: var(--gradient-theme);
}



footer{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--blue-theme);
    font-weight: bolder;
}

footer a{
    color: var(--blue-theme);
}

footer a:hover{
    transform: scale(1.4);
}