#overlay{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(210, 180, 140, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

#modal1{
    display: flex;
    gap: 50px;
}

#modal3{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 20px;
}

#radioBtns{
    display: flex;
    gap: 30px;
}

.square{
    background-color: silver;
    border: 2px solid black;

}