#overlay{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#modal1{
    /* display: none; */
    display: flex;
    background-color: rgb(32, 171, 218);
    gap: 100px;
}

#modal1 div{
    margin: 20px;
}

#modal1 div h2{
    text-align: center;
}

#modal1 div button{
    background-color: rgb(0, 170, 226);
    border: none;
    cursor: pointer;
}

#modal1 div img{
    width: 200px;
    border-radius: 50%;
}

#modal2{
    display: none;
    background-color: lightyellow;
}

#modal3{
    display: none;
    z-index: 1;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 20px;
}

#radioBtns{
    display: flex;
    gap: 30px;
}

#modal4{
    display: none;
}








/* .square{
    background-color: silver;
    border: 2px solid black;

} */