#overlay{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


/* Modal1 will be displayed on page load, and be switched to "none" when an option is selected */
#modal1{
    display: none;
    /* display: flex; */
    background-color: rgb(32, 171, 218);
    gap: 100px;
}

#modal1 div{
    margin: 20px;
}

#modal1 div h2{
    text-align: center;
}

#modal1 div button{
    background-color: rgb(0, 170, 226);
    border: none;
    cursor: pointer;
}

#modal1 div img{
    width: 200px;
    border-radius: 50%;
}



/* modal2 will be displayed as "none" by default, and switched to "flex" when modal1 PvPBtn is pressed */
#modal2{
    display: none;
    /* display: flex; */
    gap: 30px;
    background-color: lightyellow;
}

#modal2 div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
}

#modal2 div p,
#modal2 div label{
    text-align: center;
}






/* modal3 will be displayed as "none" by default, and switched to "flex" when modal1 PvEBtn is pressed */
#modal3{
    /* display: none; */
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 170, 226);
    padding: 20px;
}

#radioBtns{
    display: flex;
    gap: 30px;
}






/* modal4 will be displayed as "none" by default and switch to "flex" when checkWinner() returns "true" */
#modal4{
    display: none;
}








/* .square{
    background-color: silver;
    border: 2px solid black;

} */